NetBeansProjects/projekt/dvertovs_aplikacija_2/dvertovs_aplikacija_2_2/src/conf/xml-resources/web-service-references/DvertovsAplikacija1WS/wsdl/localhost_8080/dvertovs_aplikacija_1/DvertovsAplikacija1WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.dvertovs.nwtis/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.dvertovs.nwtis/" name="DvertovsAplikacija1WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dvertovs.nwtis/" schemaLocation="http://localhost:8080/dvertovs_aplikacija_1/DvertovsAplikacija1WS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajTopAdrese">
<part name="parameters" element="tns:dajTopAdrese"/>
</message>
<message name="dajTopAdreseResponse">
<part name="parameters" element="tns:dajTopAdreseResponse"/>
</message>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese"/>
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse"/>
</message>
<message name="dajZadnjihNPodatakaZaAdresu">
<part name="parameters" element="tns:dajZadnjihNPodatakaZaAdresu"/>
</message>
<message name="dajZadnjihNPodatakaZaAdresuResponse">
<part name="parameters" element="tns:dajZadnjihNPodatakaZaAdresuResponse"/>
</message>
<message name="userAuthenticated">
<part name="parameters" element="tns:userAuthenticated"/>
</message>
<message name="userAuthenticatedResponse">
<part name="parameters" element="tns:userAuthenticatedResponse"/>
</message>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<message name="dajMeteoPodatkeUIntervalu">
<part name="parameters" element="tns:dajMeteoPodatkeUIntervalu"/>
</message>
<message name="dajMeteoPodatkeUIntervaluResponse">
<part name="parameters" element="tns:dajMeteoPodatkeUIntervaluResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="DvertovsAplikacija1WS">
<operation name="dajTopAdrese">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajTopAdreseRequest" message="tns:dajTopAdrese"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajTopAdreseResponse" message="tns:dajTopAdreseResponse"/>
</operation>
<operation name="dajSveAdrese">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajSveAdreseRequest" message="tns:dajSveAdrese"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse"/>
</operation>
<operation name="dajZadnjihNPodatakaZaAdresu">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajZadnjihNPodatakaZaAdresuRequest" message="tns:dajZadnjihNPodatakaZaAdresu"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajZadnjihNPodatakaZaAdresuResponse" message="tns:dajZadnjihNPodatakaZaAdresuResponse"/>
</operation>
<operation name="userAuthenticated">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/userAuthenticatedRequest" message="tns:userAuthenticated"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/userAuthenticatedResponse" message="tns:userAuthenticatedResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
<operation name="dajMeteoPodatkeUIntervalu">
<input wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajMeteoPodatkeUIntervaluRequest" message="tns:dajMeteoPodatkeUIntervalu"/>
<output wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajMeteoPodatkeUIntervaluResponse" message="tns:dajMeteoPodatkeUIntervaluResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://serveri.ws.dvertovs.nwtis/DvertovsAplikacija1WS/dajMeteoPodatkeUIntervalu/Fault/ParseException"/>
</operation>
</portType>
<binding name="DvertovsAplikacija1WSPortBinding" type="tns:DvertovsAplikacija1WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajTopAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjihNPodatakaZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userAuthenticated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DvertovsAplikacija1WS">
<port name="DvertovsAplikacija1WSPort" binding="tns:DvertovsAplikacija1WSPortBinding">
<soap:address location="http://localhost:8080/dvertovs_aplikacija_1/DvertovsAplikacija1WS"/>
</port>
</service>
</definitions>